/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSSここまで */

body{
  background: lightskyblue ;/*保険用*/
  background: -moz-linear-gradient(top, lightskyblue 0%, skyblue 100%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top, lightskyblue 0%,skyblue 100%);/*古いSafariなど向け*/
  filter:progid:DXImageTransform.Microsoft.Gradient(
    startColorstr='lightskyblue',
    endColorstr='skyblue',
    GradientType=0 );/*IE9以下向け*/
  background: linear-gradient(to bottom, lightskyblue 0%, skyblue 100%);/*正規の指定*/
} 


header{
  margin-top: 2px;
}

h2.title {
  position: relative;
  padding: 1rem 2rem;
  border: 4px solid #000;
  width: 50%;
  margin: 0 auto;
}

h2.title:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: '';
  border: 2px solid #000;
}